---
import Layout from "../layouts/Layout.astro";
import Calendar from "../components/Calendar.jsx";
import Navbar from "../components/Navbar";
import Footer from "../components/Footer";
import CallToActionSection from "../components/CallToActionSection.jsx";
const title = "Planning - Académie Stéphanoise";
const description =
  "Consultez le planning des activités de l'Académie Stéphanoise.";
const keywords =
  "planning, calendrier, Académie Stéphanoise, activités, horaires";
---

<Layout title={title} description={description} keywords={keywords}>
  <Navbar client:only="react" />
  <div class="bg-neutral-50 pt-4">
    <div class="max-w-[150rem] mx-auto lg:pt-16 lg:px-8">
      <Calendar client:only="react" />
    </div>
    <div class="translate-y-1/2 transform">
      <CallToActionSection />
    </div>
  </div>
  <Footer />
</Layout>
